recipe1m
foodie_favorites_dataset
foodbase
**/.ipynb_checkpoints
**/*.code-workspace
data
dataset_collector/error_url.txt
dataset_collector/find_markers


###

# node-based stuff:

# Compiled binary addons (https://nodejs.org/api/addons.html)
scraper/build/Release

# Dependency directories
scraper/node_modules/
scraper/jspm_packages/

# Optional npm cache directory
scraper/.npm
